
.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    left: 0px;
    background-color: lightgrey;
    z-index: 9999;
}

.logoutButton{
    position: relative;
    top: 10px;
    width: 75px;
    left: 75%;
}



